:root {
  --background: #f0f4f8;
  --foreground: #1e293b;
  --font-montserrat: "Montserrat", sans-serif;
}

html[data-bs-theme="dark"] {
  --background: #14171d;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
